body {
    height: 100vh;
    background: linear-gradient(to bottom, #B56A84, #0E4C5B);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.atras {
    position: absolute;
    top: 3%;
    left: 1.5%;
    z-index: 10;
    cursor: pointer;
    display: inline-block;
    font-size: 40px;
    color: #1EF8C3;
    transform: rotate(180deg);
}



header{
    font-family: 'DM Serif Display', cursive;
    position: absolute; 
    top: -5%;
    left: 50%;
    transform: translateX(-50%); 
    font-size: 36px;
    color: #FF1493; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
    text-align: center;
    font-weight: bold;
    -webkit-text-stroke: 0px #000000; 
    z-index: 11;
}

main{
    text-align: center;
    position: relative;
    top: 12%;
    z-index: 10; 
}


iframe {
    border: 8px solid #AF8CD8;
    border-radius: 20px; 
    margin-top: -20px; 
}


footer p {
    color: #fff; 
    margin-top: 20px; 
    max-width: 650px;
    position: relative;
    top: 27%;
    justify-content:end;  
    font-weight: bold;
    font-family: Arial, sans-serif; 
    font-size: 14px;
    line-height: 1.5; 
}
.hearts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0; 
}

.hearts ul {
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 0; 
}

.hearts li {
    position: absolute;
    display: block;
    list-style: none;
    animation: animate 8s linear infinite;
    z-index: 0; 
}

.corazon-50 {
    font-size: 40px;
}

.corazon-60 {
    font-size: 215px;
}

.corazon-70 {
    font-size: 125px;
}

.corazon-80 {
    font-size: 80px;
}

.corazon-90 {
    font-size: 90px;
}

.corazon-100 {
    font-size: 159px;
}

.corazon-110 {
    font-size: 300px;
}

.corazon-120 {
    font-size: 80px;
}

.corazon-130 {
    font-size: 400px;
}

.corazon-140 {
    font-size: 200px;
}


.hearts li:before,
.hearts li:after {
    content: "❤"; 
    position: absolute;
    top: 0;
    left: 0;
    font-size: inherit; 
    color: #AF8CD8;
}

@keyframes animate {
    0% {
        transform: translateY(800px);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-500px);  
        opacity: 0;
        border-radius: 50%;
    }
}
